body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1 {
    color: whitesmoke;
    font-size: 1.75rem;
    margin: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.375rem;;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
}

/* links */
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
    
}

li{
    padding: 1rem;
}

nav{
    margin-top: 2rem;
    text-align: left;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li:not(:last-child){
    border-bottom: 1px dotted #a190b6;
}

/* layout */

.section-2 .container p {
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

section,
header,
footer {
    padding: 1.25rem 0;
}

.section-2,
header {
    color: whitesmoke;
    background-color: #5f29a3;
    padding: 2.8125rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}


.main-image {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 0 auto;
}

/*.wrapper-main-image{
    display: flex;
    justify-content: center;
}*/
.section-image {
    width: 100%;
    border-radius: 4.6px;
}



footer {
    padding: 2.8125rem 0;
    text-align: center;
    font-size: 1em;
    color: #5f29a3;
}

.button {
    padding: 0.625rem 1.1875rem;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}




section .button-buy {
    color: whitesmoke;
    background-color: #5f29a3;

}

section .button-info {
    color: #5f29a3;
    background-color: #f0e0ff;

}

.section-2 .button {
    color: #5f29a3;
    background-color: whitesmoke;


}

.button:hover,
.button:active {
    color: #2b283a;
    background-color: #f3e885;
}

@media (min-width: 480px) {
    .wrapper-images {
        display: flex;
        justify-content: space-between;
    }

    .section-image {
        width: 48.88%;

    }
    

}

@media(max-width:768px){
    .header-container{
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }
    nav{
        text-align: center;
        display: block;
    }
}

@media(min-width: 768px) {
    
    header,
    section,
    footer {
        padding-top: 2.875rem;
        padding-bottom: 2.875rem;
    }

    .button {
        padding: 0.625rem 1.1875rem;
        border-radius: 4.6px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
    }
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 1.75rem;

    }
    .subheading{
        font-size: 1.25rem;
    }

    p{
        font-size: 1.125rem;
    }
    
    


}